<header class="page-header">
  <div class="header-block-container">
    <h1><%= @book.title %></h1>
      <%= link_to 'Back', books_path, class: 'button-white-outline' %>
  </div>
</header>
<section class="book-block-container">
  <div class="book-block-container">
     <div class= "book-cover">
        <% if @book.image_url %>
          <%= image_tag @book.image_url %>
        <% end %>
        </div>
        <div class="text-block">
          <br>
          <br>
          <h1><%= @book.title %></h1>
          <h6><%= link_to @book.author.full_name, author_path(@book.author) %></h6>
          <br>
          <br>
          <p><%= @book.description %></p>
          <%# link_to "Write a Review", new_book_review_path(@book), class: "button-white-outline" %>
          </div>
        </div>
      </div>
    </section>

<br>
